body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1c1f2b;
    overflow: hidden;
}

#trade-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100vw;
    height: 100vh;
}

#chart-container {
    display: flex;
    gap: 10px;
    width: 100vw;
    height: 85vh;
}

#chart-wrapper.hidden {
    display: none;
}

#chart-wrapper {
    width: 75vw;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #33374d;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

#chart {
    width: 100%;
    height: 100%;
    background-color: #33374d;
    box-sizing: border-box; 
}

#settings {
    width: 25vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 8px;
    color: #e0e3eb;
    font-weight: bold;
    font-size: 24px; 
}

#trade-settings {
    flex: 1 1 100%;  
    display: flex;
    flex-wrap: wrap;
    background-color: #33374d;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    color: #e0e3eb;
    font-weight: bold;
}

#simulation {
    flex: 1 1 100%;  
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    font-size: 24px; 
    background-color: #33374d;
    border-radius: 8px;
}

#chart-settings {
    flex: 1 1 100%;  
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #33374d;
    border-radius: 8px;
}

#settings div {
    flex-basis: 100%;
}

#settings button {
    flex: 1 1 40%;  
    padding: 4px 10px; 
    font-size: 24px; 
    line-height: 1; 
    cursor: pointer;
    background-color: #0078d7;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}


#settings button.active {
    background-color: #005fa3;
    color: #ffffff;
}

#settings button#toggleSimulation {
    font-weight: bold;
    font-size: 36px; 
    flex: 1 1 100%;
    background-color: #28c76f;
}

#settings button#toggleSimulation:hover {
    background-color: #20a85a;
}

#settings button#toggleSimulation:active {
    background-color: #188644;
}


#settings button#toggleSimulation.stop {
    background-color: #f44336;
}

#settings button#toggleSimulation.stop:hover {
    background-color: #d0352b;
}

#settings button#toggleSimulation.stop:active {
    background-color: #b02a23;
}

#trade-info {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #e0e3eb;
    font-weight: bold;
    background-color: #33374d;
    padding: 10px;
}

.hidden {
    display: none;
}

input[type="file"] {
    display: none;
}

#upload-label {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: #2b3044;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px dashed #0078d7;
    cursor: pointer;
    font-size: 32px;
    color: #ffffff;
    transition: 0.3s;
    z-index: 10;
}

#upload-label:hover {
    color: #20a85a;
    border-color: #20a85a;
    background-color: #33374d;
}

